.slider
	padding: 21px 0
	box-sizing: border-box
	min-height: 140px
	background: url(../../img/bg-film.jpg) repeat-x top, #000 url(../../img/bg-film.jpg) repeat-x bottom
	position: relative
	overflow: hidden

.slider__list
	overflow: hidden
	white-space: nowrap
	font-size: 0

.slider__item
	display: inline-block
	overflow: hidden
	position: relative
	span
		font-size: 2rem
		position: absolute
		color: #fff
		top: .5rem
		left: 1.5rem
		font-weight: 700

.slider__img
	display: block
	object-fit: cover
	border-radius: 2px
	width: 142px
	height: 98px
	margin: 0 7px

.slider__links-wrap
	position: absolute
	top: 22px
	right: -1rem
	border-top-left-radius: .8rem
	border-bottom-left-radius: .8rem
	padding: 0 .6rem
	background-color: #fff
	box-shadow: -2px 2px 0 0 #000
	z-index: 3
	color: #c00
	line-height: 2

.slider__link
	font-weight: 700
	text-decoration: none
	display: inline-block
	margin: 0 .8rem
